<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/Eradium.png"/>
        <span id="welcomeHeader">BIENVENUE SUR ERADIUM</span>
        <span id="welcomeDescription">Il s'agit de la 4ème version des serveurs "Eradium", optant pour donner un serveur pvp-faction équitable pour tout le monde, ce projet a été réalisé par un petit groupe indépendant qui souhaite se faire connaître plus tard, nous vous souhaitons la bienvenue et profitez du serveur autant que vous le pouvez!</span>
        <br>
        <span id="welcomeDescCTA">Vous n'êtes qu'à quelques clics d'Eradium.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUER
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>